[Interface]
# Name = node1.example-vpn.tld
# LAN = 172.16.0.5/24
#Address = 10.0.44.5/24
ListenPort = 51820
PrivateKey =

[Peer]
# Name = gateway.example-vpn.dev
# LAN = 172.16.0.2/32
Endpoint = 172.16.0.2:51820
PublicKey =
PersistentKeepalive = 25
AllowedIPs = 0.0.0.0/0, ::/0
